/* 
Theme Name:		 Winkel - Storefront
Theme URI:		 https://gitlab.com/de-grizzly/winkel-thema
Description:	 Winkel - Storefront is a child theme of Storefront
Author:			 Aldo && Indy
Author URI:		 https://degrizzly.be
Template:		 storefront
Version:		 1.0.1.0.4
Text Domain:	 winkel-storefront
*/


/*
* Overwrite bootstrap errors
*/
.col-full > .col-1,
.fourohfour-columns-2 > .col-1,
.fourohfour-columns-2 > .col-2,
.woocommerce .col-1,
.woocommerce .col-2 {
  flex: none;
  max-width: 100%;
}

.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce-additional-fields .form-row {
  display: inherit;
}

/*
*  Add your custom styles here
*/

body {
    background-color: #ffffff;
    overflow-x: hidden;
}
/* Slider Widget */
#berocket_aapf_single-3 .ui-slider-range.ui-widget-header.ui-corner-all {
    background: none repeat scroll 0 0 #b61a21;
}
.berocket_aapf_widget li.slider span.left, .berocket_aapf_widget li.slider span.right {
  font-size: 0.875rem;
}
input#text_pa_br_price2_1, input#text_pa_br_price2_2{
  background: none;
  border: none;
  box-shadow: none;
  font-style: normal;    
  font-size: 0.875rem
}
/* End slider */
/* Buttons */
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button {
    background-color: #a4141b;
    border-color: #eeeeee;
    color: #eeeeee;
    border-radius: 3px;
    border-bottom: 2px solid #9e080d;
}
.site-search .widget_product_search form input[type=search], .site-search .widget_product_search form input[type=text] {
    padding-left: 2.617924em;
    border-radius: 15px !important;
}
/** Style for mobile only */ 
@media (max-width: 767px) {
    /* Fix for buttons on one line */
    button, input[type='button'], input[type='reset'], input[type='submit'], .button, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link, .added_to_cart {  
      padding: 0.3em 0.6em;
    }    
    /* fix sub menu in mobile view */ 
    .handheld-navigation ul.menu li button::after {
      content: "";
      margin: 0 1px 0 0;
    }
}
/** Style for screen larger than mobile */ 
@media (min-width: 768px) {
    .col-full {
      max-width: 94.5em ;
      margin-left: auto;
      margin-right: auto;
      padding: 0 2.617924em;
      box-sizing: content-box;
    }
    .site-header {
      border-bottom-color: #a4141b;
      box-shadow: 0px 0px 4px #000;
    }
    .site-main ul.products.columns-3 li.product {
      width: 29.4117647059%;
      float: left;
      margin-right: 3.882353%;
      background-color: #FFF !important;
      overflow: hidden;
      padding-bottom: 2%;
      transition: all .3s cubic-bezier(.25,.8,.25);
    }
    /* .site-main ul.products.columns-3 li.product:hover {
        box-shadow: 0 17px 14px rgba(0,0,0,.12), 0 12px 6px rgba(0,0,0,.24);
    }; */
	/** Verwijderen van Hotjar branding */ 
	div[id$="branding"] {
		display: none;
	}
}